.homeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fdfdfd;
  padding: 30px; /* Lägg till padding */
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px; /* Lägg till padding */
  background-color: rgb(235, 235, 232);
  border-radius: 30px;
}

.Logo-home {
  max-width: 200px;
  height: auto;
  margin-bottom: 200px; /* Öka marginalen mellan bilden och input-fälten */
  
}

.Logo {
  max-width: 200px;
  height: auto;
  margin-bottom: 120px; /* Öka marginalen mellan bilden och input-fälten */
}


.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.inputField {
  padding: 5px;
  font-size: 19px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.buttonWrapper-home {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px; /* Öka avståndet mellan knapparna och input-fälten */
  width: 300px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.SigninButton-home {
  background-color: rgb(240, 240, 245); /* Ändra bakgrundsfärg till blå */
  color: rgb(40, 3, 252); /* Ändra textfärg till vit */
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}


.SigninButton, .SignupButton {
  background: linear-gradient(90deg, #f707ff 0%, #3700ff 100%); /* Ändra bakgrundsfärg till blå */
  color: white; /* Ändra textfärg till vit */
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.SignupButton-signup {
  background: linear-gradient(90deg, #f707ff 0%, #3700ff 100%); /* Ändra bakgrundsfärg till blå */
  color: white; /* Ändra textfärg till vit */
  border: none;
  padding: 10px 120px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.SigninButton-home:hover, .SignupButton:hover {
  background-color: rgb(163, 163, 199); /* Effekt vid hover */
}

.SignupButton:hover {
  background-color: darkblue; /* Effekt vid hover */
}

.signup-title {
  margin-top: -50px; /* Öka avståndet mellan knapparna och texten */
  margin-bottom: 50px;
  color: rgb(69, 69, 245); /* Ändra textfärg till blå */
  text-align: center;
  font-size: 50px;
}

